<div class="container-fluid cont-principal-error">
    <div class="row">
        <div class="col-12 cont-404">
            <button class="btn btn-404 my-2">
                <img class="img-computer" src="../../../../assets/img/computer.png" alt="bajo-construcción">
                <img class="img-cono" src="../../../../assets/img/cone.png" alt="bajo-construcción">
            </button>
            <h3 class="mb-2 text-1 medium">Página bajo construcción</h3>
            <p class="mb-4 medium text-secondary">Pronto estará disponible esta característica</p>
            <div>
                <button type="button"
                        class="btn btn-primary btn-lg"
                        (click)="irAInicio()">Regresar</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-principal-error">
    <div class="row">
        <div class="col-12 cont-footer-404">
            <div class="cont-imagen mr-2">
                <img class="logo-azul" src="../../../../../assets/img/logo-azul.png" alt="logo azul">
            </div>
            <div class="cont-texto">
                <p class="m-0 pt-1 small">¿Necesitas ayuda?</p>
                <p class="m-0 error-numeros small"> 915062561 - 915062573</p>
            </div>
        </div>
    </div>
</div>