<div class="bg-login">
</div>
 <!-- #region INICIO boton de cargando -->
 <!-- <ngx-spinner [name]="'login'" template = "<img src='../../../../../assets/img/Logo.gif' width=80px />" ></ngx-spinner> -->
 <ngx-spinner [name]="'change-password'" type="null">
    <app-loading></app-loading>
</ngx-spinner>
<!--  <app-cibercont-spinner [nombre]="'login'"></app-cibercont-spinner> -->
 <!-- #endregion FIN boton cargando -->
<div class="container contenedor-login">
    <div class="row h-100 justify-content-center align-items-center p-4 " >
        <div class="col-xs-8 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="row mb-5"> 
                <div class="col-12 bg-light border-principal">
                    <div class="row p-4">  
                        <div class="col-12 p-0 text-left">
                            <img class="logo-usuario" 
                                src="../../../../../assets/img/Logotipo-cibercont-blue1.png" 
                                alt="logo-cibercont">
                        </div>
                    </div>
                <form [formGroup]="passwordForm">
                <div class="form-row p-2">
                    <div class="col-12 p-1">
                        <p><strong>Actualizar contraseña</strong></p>
                        <p><small class="color-gris">Debe cambiar la contraseña por razones de seguridad</small></p>
                    </div>
                    <div class="col-12 p-1">  
                        <mat-form-field appearance="outline" 
                                        class="block small">
                            <mat-label>Contraseña actual</mat-label>
                            <input  matInput
                                    [type]="ocultarContrasenhaActual? 'password' : 'text'"
                                    autocomplete="on"
                                    maxlength="15"
                                    formControlName="contrasenhaActual">
                                <!-- <mat-error>Campo obligatorio</mat-error> -->
                                <span   class="border-0 bg-white"
                                        tabindex="-1"
                                        mat-icon-button
                                        matSuffix
                                        (click)="ocultarContrasenhaActual= !ocultarContrasenhaActual"
                                        [attr.aria-label]="'Ocultar/Mostrar password'"
                                        [attr.aria-pressed]="ocultarContrasenhaActual">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </span>
                            
                        </mat-form-field>
                        <div *ngIf="contrasenhaActual.invalid && (contrasenhaActual.dirty || contrasenhaActual.touched)">
                            <div class="error-message-medium" *ngIf = "contrasenhaActual.errors.required">  
                                Campo obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-1">
                        <mat-form-field appearance="outline" 
                                        class="block small">
                            <mat-label>Contraseña nueva</mat-label>
                            <input  matInput
                                    maxlength="250"
                                    [type]="ocultar ?  'password' : 'text'"
                                    autocomplete="on"
                                    formControlName="contrasenhaNueva">
                            <span class="border-0 bg-white"
                                    tabindex="-1"
                                    mat-icon-button
                                    matSuffix
                                    (click)="ocultar=!ocultar"
                                    [attr.aria-label]="'Ocultar password'"
                                    [attr.aria-pressed]="ocultar">
                                    <!-- <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                                    <mat-icon>remove_red_eye</mat-icon>
                            </span>
                            <!-- <mat-error>Campo obligatorio</mat-error> -->
                        </mat-form-field>
                        <div *ngIf="showTextPassword" class="col-12 p-1">
                            <!-- <p class="error-message-medium ml-0"><small>La contraseña debe contener 6 caracteres como mínimo y debe incluir al menos una mayúscula, una miníscula y un número</small></p> -->
                            <p class="error-message-medium ml-0">La contraseña debe contener 6 caracteres como mínimo y debe ser una contraseña que no haya usado hasta ahora</p>
                        </div>
                        <div *ngIf="contrasenhaNueva.invalid && (contrasenhaNueva.dirty || contrasenhaNueva.touched)">
                            <div class="error-message-medium" *ngIf = "contrasenhaNueva.errors.required">  
                                Campo obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-1">
                        <mat-form-field appearance="outline" 
                                        class="block small">
                            <mat-label>Confirmar contraseña nueva</mat-label>
                            <input  matInput
                                    maxlength="250"
                                    [type]="ocultarConfirNewPassword ?  'password' : 'text'"
                                    autocomplete="on"
                                    formControlName="confirmacionContrasenhaNueva">
                            <span class="border-0 bg-white"
                                    tabindex="-1"
                                    mat-icon-button
                                    matSuffix
                                    (click)="ocultarConfirNewPassword=!ocultarConfirNewPassword"
                                    [attr.aria-label]="'Ocultar password'"
                                    [attr.aria-pressed]="ocultarConfirNewPassword">
                                    <!-- <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                                    <mat-icon>remove_red_eye</mat-icon>
                            </span>
                            <!-- <mat-error>Campo obligatorio</mat-error> -->
                        </mat-form-field>
                        <div *ngIf="showTextPasswordConfirm" class="col-12 p-1">
                            <p class="error-message-medium ml-0"><small>Las contraseñas ingresadas no coinciden</small></p>
                        </div>
                        <div *ngIf="confirmacionContrasenhaNueva.invalid && (confirmacionContrasenhaNueva.dirty || confirmacionContrasenhaNueva.touched)">
                            <div class="error-message-medium" *ngIf = "confirmacionContrasenhaNueva.errors.required">  
                                Campo obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="col-12  my-2">   
                        <button mat-raised-button
                                color="primary"
                                class ="block medium"
                                (click)="cambiarContrasenha(passwordForm.value)">
                            <!-- <i *ngIf="cargando" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                            <mat-icon *ngIf="!cargando">login</mat-icon>
                            &nbsp; --> Guardar
                        </button>
                    </div>
                    <div class="col-12 text-center">
                        <a  class="enlace-design" (click)="volverALogin()">← Volver a Login</a> <br>
                        
                    </div>                            
                        
                </div>
                </form>
    
            </div>

        </div>
            <div class="row mt-5">
                <div class="col-12">
                    <div class="row "> 
                        <div class="offset-3 col-2 text-center px-2">
                            <button mat-icon-button
                            color="primary"
                            class="iconos-redes-sociales">
                            <img  class ="button-icon-cibercont" src="../../../../../assets/img/cibercont-neg-transparente-icon.png" alt="">
                        </button>
                        </div>
                        <div class="col-2 text-center px-2">
                            <button mat-icon-button
                                    color="primary"
                                    class="iconos-redes-sociales">
                                    <i class = "fa fa-youtube-play fa-sm"></i>
                             </button>
                        </div>
                        <div class="col-2 text-center px-2">
                           <button mat-icon-button
                                 color="primary"
                                 class="iconos-redes-sociales">
                                 <i class = "fa fa-facebook fa-sm"></i>
                            </button>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 text-center texto-marca">
                                    <span>  www.cibercont.com </span>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                  
                </div>  
            </div>
        </div>
        
    </div>
  </div>
  <div> 
      
</div>

