<!-- <div class="col-12 col-sm-6 col-md-3"> -->
    <mat-card class="mb-2 card-panel" [ngClass]="{'card-bg-green': usarColorPrincipal, 'card-bg-blue': !usarColorPrincipal}">
        <mat-card-header class="card-panel-header">
            <div mat-card-avatar class="my-auto">
                <i class="fa-2x" class={{card.icon}}></i>
            </div>
            <mat-card-title class="mb-0 medium">{{card.nombre}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <p>{{card.descripcion}}</p> -->
        </mat-card-content>
    </mat-card>
<!-- </div> -->